<p>group name:  {{ group.group.name }} </p>
<p>date created: {{ group.date_createsd }} </p>
<p>owner: {{ group.user_created }} </p>
<p>members: 
{% for m in members %}
{{ m.user.username }}<br>
{% endfor %}
</p>

<p>Expenses: <br>
{% for r in record %}
{{ r }} <br>
{% endfor %}
</p>

<p>Total Sum: {{ sum }}</p>
<p>Personal Expenses: <br>
{% for k,v in pers_exp.items %}
{{ k }} ==> {{ v }}<br>
{% endfor %}</p>


<a href = "/split/add_expense/{{ group.id }}"> ADD DELETE EXPENSE </a> 
<a href = "/split/delete_expense/{{ group.id }}"> DELETE EXPENSE </a> 